/* My Custom CSS */
.fontSizeLg {
  font-size: 4em;
}

.fontSizeSmall {
  font-size: 12px;
}

.mainFontColor {
  color: #173235;
}
.mainFontColorDark {
  color: #41a0a8
}
.mainBackgroundColor {
  background-color: #173235;
}

.separator {
  width: 100%;
  border-top: 1px solid rgb(106, 106, 106);
}

.lineDeco {
  /* border: 1px solid black; */
  background-color: #173235;
  height: 1em;
}

.navbarContainer {
  z-index: 10;
}

.welcomeContainer {
  height: 85vh;
}

.borderSquareStrip {
  border: 4px solid #173235;
  border-radius: 2%;
}

.borderSquareStripWhite {
  border: 4px solid white;
  border-radius: 2%;
}
